@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="bg-secondary bg-opacity-10 py-3">
    <div class="container">
        <h2>Enter Your Reviews</h2>
    </div>
</div>

<div class="container py-5">
    <form method="post">
        <div class="mb-3">
            <label class="form-label">ID</label>
            <input type="text" value="" class="form-control" id="id" name="id" />
        </div>
        <div class="mb-3">
            <label class="form-label">Rating</label>
            <input type="text" value="" class="form-control" id="rating" name="rating" />
        </div>
        <div class="mb-3">
            <label class="form-label">Review_Text</label>
            <input type="text" value="" class="form-control" id="review_text" name="review_text" />
        </div>
        <div class="mb-3">
            <label class="form-label">Review_Date</label>
            <input type="text" value="" class="form-control" id="review_date" name="review_date" />
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-dark">Submit</button>
        </div>
    </form>
</div>


